.button{
    display: block;
    border:none;
    line-height: 12px;
    font-size: 16px;
    width: max-content;
    background-color: #675AFF;
    padding: 10px 30px;
    border-radius: 10px;
    color:#FBFFFF
}